{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>handsForHunger | Home</title>
    <link rel="stylesheet" href="{% static 'auth1/css/styles.css' %}" />
    <!-- <script src="{% static 'auth/js/myglobal.js' %}"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<script src="{% static 'myglobal.js' %}"></script>
<body>
    <nav class="flex items-center justify-between px-6 h-16 bg-teal-800">
        <div class="container-lg">
            <a href="/" class="text-xl text-white">handsForHunger</a>
        </div>
        <div class="flex items-center space-x-4">
            <a href="/" class=" px-5 py-3 rounded-xl text-white hover:bg-teal-700">Home</a>
            <a href="/about" class=" px-5 py-3 rounded-xl text-white hover:bg-teal-700">About</a> 
        </div>
    </nav>

    

    {% if messages %}
    <div class="container text-center mt-2 mb-1">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% block content %} {% endblock %}

    {% block js_top %}
        <script>
            const signUpButton = document.getElementById('signUp');
            const signInButton = document.getElementById('signIn');
            const container = document.getElementById('container');

            signUpButton.addEventListener('click', () =>
                container.classList.add('right-panel-active'));

            signInButton.addEventListener('click', () =>
                container.classList.remove('right-panel-active'));

        </script>
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{% static 'myglobal.js' %}"></script>
</body>
