{% extends 'auth1/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.is_donor %}
      <h1>Welcome, Donor {{ user.username }}!</h1>
      <p>You can view your donation history, update your profile, and explore new opportunities to donate.</p>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_donation' %}">Add</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'donor_history' %}">History</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'redeem_points' %}">Redeem Coins</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'donate_points' %}">Donate Coins</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'stats' %}">Stats</a>
</li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
      <!-- Add donor-specific content here -->
    {% elif user.is_ngo %}
      <h1>Welcome, NGO {{ user.username }}!</h1>
      <p>You can view your organization's donation history, manage your campaigns, and update your profile.</p>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'donations_list' %}">List of Donations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'stats' %}">Stats</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
      <!-- Add NGO-specific content here -->
    {% endif %}
  {% else %}
    <h1>Welcome to our donation platform!</h1>
    <p>Please login or register to start donating or creating campaigns.</p>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ngo_register' %}">NGO Sign up</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'ngo_login' %}">NGO Login</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'donor_register' %}">Donor Sign up</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'donor_login' %}">Donor Login</a>
  </li>
  {% endif %}
{% endblock %}