{% extends 'auth1/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.is_donor %}
      <h1>Welcome, Donor {{ user.username }}!</h1>
      <p>You can view your donation history, update your profile, and explore new opportunities to donate.</p>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add_donation' %}">Add</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
      <!-- Add donor-specific content here -->
    {% elif user.is_ngo %}
      <h1>Welcome, NGO {{ user.username }}!</h1>
      <p>You can view your organization's donation history, manage your campaigns, and update your profile.</p>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'donations_list' %}">List of Donations</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
      <!-- Add NGO-specific content here -->
    {% endif %}
  {% else %}
  <div class="p-10 lg:p-20 text-center">
      <h1 class="text-2xl lg:text-4xl text-black"> Welcome to our donation platform!</h1>
  </div>
    <!-- <p>Please login or register to start donating or creating campaigns.</p>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'ngo_register' %}">NGO Sign up</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'ngo_login' %}">NGO Login</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'donor_register' %}">Donor Sign up</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="{% url 'donor_login' %}">Donor Login</a>
  </li> -->
  <section style="width:70%; height: 60% !important; padding: 0 0 0 30rem; margin: 10px 0 10px 0; ">
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>Ngo Sign Up</h1>
          <span>Already have an account then Login <a href="{% url 'ngo_login' %}"><span style="color: blue;">Here</span></a></span>
          <button style="margin-top: 9px">
            <a href="{% url 'ngo_register' %}"> 
              Sign Up
            </a>
          </button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Donor Sign Up</h1>
          <span>Already have an account then Login <a href="{% url 'donor_login' %}"><span style="color: blue;">Here</span></a></span>
          <button style="margin-top: 9px">
            <a href="{% url 'donor_register' %}"> 
              Sign Up
            </a>
          </button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Donor Sign-up here!</h1>
            <p>Sign in here if you already have an account </p> <br/>
            <button class="ghost mt-5" id="signIn">Log In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Ngo Sign-up here!</h1>
            <p>If you are an NGO then you can login or sign up here</p> <br/>
            <button class="ghost mt-5" id="signUp">Log In</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
