{% extends 'auth1/base.html' %}

{% block content %}
    <div class="container">
        <h1>Statistics</h1>

        <p>Total donations made: {{ total_donations }}</p>
        <p>Average quantity per donation: {{ avg_quantity.quantity__avg }}</p>
        <p>Maximum quantity donated: {{ max_quantity.quantity__max }}</p>
        <p>Minimum quantity donated: {{ min_quantity.quantity__min }}</p>
        
        {% if plot_data %}
            <img src="data:image/png;base64,{{ plot_data }}" alt="Donations per Month">
        {% else %}
            <p>No donations made yet.</p>
        {% endif %}

        {% if plot_data %}
            <img src="data:image/png;base64,{{ plot_data2 }}" alt="Donations per Month">
        {% else %}
            <p>No donations made yet.</p>
        {% endif %}
    </div>
{% endblock %}
