<style> body {
  background-color:#FDEEDC;
  }</style>

{% block content %}
<header>
  <a href="{% url 'ngo_home' %}" class="navbar-brand">Home</a>
</header>
<body><h1>List of Donations</h1>
  <form method="get">
    <label for="pincode">Filter by Pincode:</label>
    <input type="text" name="pincode" id="pincode" value="{{ request.GET.pincode }}">
    <br>
    <label for="min_quantity">Minimum Quantity:</label>
    <input type="number" name="min_quantity" id="min_quantity" value="{{ request.GET.min_quantity }}">
    <label for="max_quantity">Maximum Quantity:</label>
    <input type="number" name="max_quantity" id="max_quantity" value="{{ request.GET.max_quantity }}">
    <br>
    <button type="submit">Apply Filters</button>
  </form>
  <ul class="donation-list">
    {% for donation in donations %}
      <li>
        <div class="donation-info">
          <h2>{{ donation.desc|truncatechars:20 }}{% if donation.desc|length > 20 %}...{% endif %}</h2>
          <p>Donation made by: {{ donation.donor_id.donor_name }}</p>
          <p>For: {{ donation.quantity }} people</p>
          <p>Used By: {{ donation.exp_date }}</p>
        </div>
        {% if donation.status2 %}
        Donation in progress
        <form method="post" action="{% url 'update_donation_status_ngo' %}">
          {% csrf_token %}
          <input type="hidden" name="donation_id2" value="{{ donation.id }}">
          <input type="hidden" name="status2" value="true">
          <button type="submit">Donation Taken</button>
        {% else %}
        Donation Taken
         </form>
         <a href="{% url 'mail' donation.id %}" class="btn btn-primary">Connect with the Donor</a>
        {% endif %}        
      </li>
    {% empty %}
      <li>No donations found.</li>
    {% endfor %}
  </ul></body>
  
{% endblock %}