<!DOCTYPE html>
<html>
<head>
  <style>
    .my-form-class {
        background-color: blue;
    }
  </style>
  <title>Donate</title>
  <a href="{% url 'd_home' %}" class="navbar-brand">Home</a>
</head>
<body onload="getLocation()">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="latitude" id="latitude">
    <input type="hidden" name="longitude" id="longitude">
    <!-- other form fields go here -->
    <button type="submit">Submit</button>
  </form>
 
  <script>
    function getLocation() {
      console.log('getLocation called');
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
    }

    function showPosition(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      document.getElementById("latitude").value = latitude;
      document.getElementById("longitude").value = longitude;
    }
  </script>

</body>
</html>