{% block content %}
<div class="container">
    <a href="{% url 'donor_home' %}" class="navbar-brand">Home</a>
    <h1>Statistics</h1>
    <p>Total Number of Donations: {{ total_donations }}</p>
    <p>NGOs Registered through our website: {{ ngo_count }}</p>
    <p>Donors active on our website: {{ donor_count }}</p>
    <p>Meals Served: {{ total_quantity.quantity__sum}}</p>
    <p>Average Meals served per donation: {{ avg_quantity }}</p>
    <p>Maximum Meals served in single Donation: {{ max_quantity.quantity__max }}</p>
    <p>Average Inter City Food Donations: {{ average_weight }}</p>
    <p>Number of Inter City Connection: {{ total_edges}}</p>
    <p>Average Inter State Food Donations: {{ average_weight_state }}</p>
    <p>Number of Inter State Connection: {{ total_edges_state}}</p>
    {% if image %}
    <img src="data:image/png;base64,{{ image }}" alt="Donations by Donor">
    {% else %}
    <p>No donations data available.</p>
    {% endif %}

    {% if plot_data2 %}
    <img src="data:image/png;base64,{{ plot_data2 }}" alt="Donations in your city">
    {% else %}
    <p>No donations made yet.</p>
    {% endif %}

    {% if plot_data6 %}
    <img src="data:image/png;base64,{{ plot_data6 }}" alt="Donations in your city">
    {% else %}
    <p>No transactions made yet.</p>
    {% endif %}

    {% if plot_data1 %}
    <img src="data:image/png;base64,{{ plot_data1 }}" alt="Retention rate">
    {% else %}
    <p>No donations made yet.</p>
    {% endif %}

    {% if plot_data3 %}
    <img src="data:image/png;base64,{{ plot_data3 }}" alt="Areas of Foode Wastage">
    {% else %}
    <p>No donations made yet.</p>
    {% endif %}
    {% if plot_data5 %}
    <img src="data:image/png;base64,{{ plot_data5 }}" alt="Retention rate">
    {% else %}
    <p>No donations made yet.</p>
    {% endif %}
</div>
{% endblock %}