{% block content %}{% load static %}
<!DOCTYPE html>
<html>
<head>
  <style>
    li {
      font-family: Arial, sans-serif;
      padding: 5px;
      font-size: 16px;
    }

    li button[type="submit"] {
      background-color:#E38B29; 
      color: black;
      padding: 8px 15px;
      margin: 2px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      align-items: center;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }

    .heading {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    body {
      background-color: #FDEEDC;
    }
  </style>
  <meta charset="utf-8">
  <title>Hands for Hunger</title>
  <link rel="icon" href="/static/favicon.ico">

  <!-- GOOGLE FONTS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
    rel="stylesheet">

  <!-- CSS STYLESHEETS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles4.css' %}">

  <!-- FONT AWESOME -->
  <script src="https://kit.fontawesome.com/2fd7d971bc.js" crossorigin="anonymous"></script>

  <!-- BOOTSTRAP SCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>



</head>
<body>
  <section id="title-img">
    <div class="title row row-2">
      <div class="parent col-lg-12">
        <div class="inside container-fluid">
          <!-- Nav Bar -->
          <nav class="navbar navbar-expand-lg navbar-dark">
            <img class="logo" src="/static/images/cr2.png" alt="rice">
            <!-- <a class="navbar-brand" href="">Hands for Hunger</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <div class="dropdown">
                    <button class="nav-link dropbtn"><i class='fas fa-user-alt'></i>{{user.username}}</button>
                    <div class="dropdown-content">
                      <a href="{% url 'donor_home' %}">Home</a>
                      <a href="{% url 'logout' %}">Log Out</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <h2 class="name">List of Donations</h2>
        <img class="image1 title-image" height="250px" src="/static/images/mountain.jpeg" alt="mountain-mockup">
      </div>
    </div>
  </section>

  <section id="middle">

    {% if donations_made %}

    <ul>
      {% for donation in donations_made %}
      <li>
        <span style="font-family: Arial, sans-serif; font-size: 16px;font-weight: bold;padding: 4px;">
          {{ donation.description }}:
        </span>
        {% if donation.donor_status %}
        <span style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: rgb(228, 153, 55);">
          Donation in progress
        </span>
        <br>
        <span>
          Donation added on {{ donation.donation_date}}
        </span>
        <form method="post" action="{% url 'update_donation_status_donor' %}">
          {% csrf_token %}
          <input type="hidden" name="donation_id" value="{{ donation.id }}">
          <button type="submit">Mark as Donated</button>
        </form>
        {% else %}
        <span style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: green;">
          Donated
        </span>
        <br>
        <span>
          Donation added on {{ donation.donation_date}}
        </span>
        {% endif %}

      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No donations made yet.</p>
    {% endif %}
  </section>

</body>

{% endblock %}