{% block content %}
<style>
  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    background-color: #FDEEDC;
    }
  </style>
  <body>
  <a href="{% url 'd_home' %}" class="navbar-brand">Home</a>
<h1 class="heading">Donations made by You</h1>
{% if donations_made %}

  <ul>
    {% for donation in donations_made %}
      <li>
        {{ donation.desc }} donated by {{ donation.donor_id.donor_name }}, status:
        {% if donation.status %}
        Donation in progress
        <form method="post" action="{% url 'update_donation_status' %}">
          {% csrf_token %}
          console.log({{ donation.id }})
          <input type="hidden" name="donation_id" value="{{ donation.id }}">
          <button type="submit">Mark as Donated</button>
        {% else %}
           Donated
         </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No donations made yet.</p>
{% endif %}
</body>
{% endblock %}
