body
{
    font-family: 'Montserrat' , sans-serif;
}

#title
{
    background-color: #E38B29;
    color: #fff;
}

.container-fluid
{
    padding: 2% 5% 2%;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2
{
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3
{
    font-family: 'Montserrat' , sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 3%;
    padding-top: 7%;
}

p
{
    color: #000;
}

/* Title Image */

#title-img
{
    width: 100%;
}
.title-image
{
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 0;
}


/* Profile picture */
/* #propic
{
    border-radius: 50%;
} */

    .inside
    {
        position: absolute;
        z-index: 1;
    }
    .inside .dropbtn
    {
        background-color: transparent;
    }
    .logo
    {
        width: 40px;
    }
    .container-fluid
    {
        padding: 0% 5% 0%;
    }

    .title
    {
        width: auto;
        background-color: #FDEEDC;
        height: 250px;
    }
    #pp
    {
        border-radius: 50%;
        background-color: #fff;
        object-fit: scale-down;
        object-position: center;
        border: 6px solid #fff;
    }
    .parent 
    {
        position: relative;
        top: 0;
        left: 0;
    }
  
    .image1 
    {
        position: relative;
        top: 0;
        left: 0;
    }

    .image2 
    {
        width: 250px;
        object-fit: scale-down;
        position: absolute;
        top: 125px;
        left: 150px;
        border: 1px solid #fff;
    }

    .name
    {
        font-weight: 700;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 150px;
        text-align: center;
        z-index: 1;
        width: 100%;
        font-size: 3rem;
    }

    .prof
    {
        font-weight: 600;
        color: #fff;
        font-size: 1.4rem;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 210px;
        z-index: 1;
        text-align: center;
        left: 1200px;
    }

    .addr
    {
        font-weight: 600;
        color: #fff;
        font-size: 1.4rem;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 210px;
        z-index: 1;
        text-align: left;
        left: 1400px;
    }


    /* Middle Area */

    .row
    {
        margin-left: 0%;
        margin-right: 0%;
    }
    .row1
    {
        margin-left: 2%;
        margin-right: 2%;
    }
    .col-lg-12
    {
        padding-left: 0%;
        padding-right: 0%;
    }
    .col-md-4
    {
        max-width: 80%;
    }
    .sbutton
    {
        max-width: 100%;
        align-items: center;
    }
    .float-container {
        padding: 0;
    }
    
    .float-child-1 {
        height: 50px;
        background-color: #FFF4E8;
        width: 40%;
        float: left;
        padding: 0;
    }  
    .float-child-2 {
        height: 50px;
        background-color: #FFF4E8;
        width: 40%;
        float: left;
        padding: 0;
    }  

    .mid
    {
        background-color: #FFF4E8;
        height: 900px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .btn
    {
        align-items: center;
    }
    .data
    {
        position: absolute;
        background-color: #FDEEDC;
        width: 300px;
        height: 450px;
        text-align: center;
    }

    .desc_col
    {
        height: 200px;
    }
    .desc_box
    {
        height: 200px;
    }
    .ach
    {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
    }
    h4
    {
        font-size: 1.5rem;
    }
    .top-ach
    {
        padding-top: 4rem;
    }


    /* .row 
    {
        display: flex;
    } */
    .qn
    {
        color: #E38B29;
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
    }
    .column 
    {
        flex: 33.33%;
        padding: 5%;
        padding-bottom: 0%;
    }
    .card
    {
        height: 300px;
        width: 150px;
        background: #FDEEDC;
        background-image: none;
    }
    .last-card
    {
        padding-right: 5px;
    }
    .imgb
    {
        text-align: center;
    }
    .imgButton1
    {
        outline: none;
        border: none;
        text-align: center;
        color: #E38B29;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 2rem;
        background-color: transparent;
    }

    .sbutton
{
    align-content: center;
    max-width: 20%;
    padding: 0px;
    padding-left: 45%;
    padding-right: 55%;
    padding-bottom: 5%;
}
.submit_button
{
    text-align: center;
    align-items: center;
    padding: 10px;
    align-self: center;
    width: 100px;
    padding-left: 42%;
    padding-right: 42%;
}
    /* .donate
    {
        position: relative;
        left: 300px;
        top: -450px;
        height: 450px;
        align-items: end;
        background-color: #FFF4E8;
    } */


/* Dropdown */

.dropbtn {
    background-color: #E38B29;
    color: white;
    padding-top: 8px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #F1A661;} 

  /* TABS */
  .tab {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #FDEEDC;
    
    text-align: center;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    flex: 1;
    text-align: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #FDEEDC;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #FFF4E8;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }


.navbar-brand
{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item
{
    padding: 0 18px;
}

.nav-link
{
    font-family: 'Montserrat';
    font-weight: 500;
    -webkit-text-fill-color: #FDEEDC;
    font-size: 1.2rem;
}


.don-text
{
    background-color: transparent;
    padding: 1%;
    flex: auto;
    width: 80%;
    border-radius: 25px 0px 0px 25px;
    border: 2px solid #F1A661;
}
.don-button
{
    border-radius: 0px 25px 25px 0px;
    border: 2px solid #F1A661;
    background-color: transparent;
    padding: 1%;
    flex: auto;
    width: 20%;
}
.don-h
{
    color: #E38B29;
    padding: 0%;
    font-size: 1rem;
}
.don-n
{
    color: #E38B29;
    font-size: 2rem;
}
.don-card
{
    padding: 2%;
}

.extrarad
{
    border-radius: 25px;
}






















/* footer */

#footer
{
    text-align: center;
    background-color: #fff;
}
.container-fluid-1
{
    padding: 2% 5% 2%;
}

.social-icon 
{
    margin: 20px 10px;
}