.container
{
    background-color: white;
    padding: 7%;
}

#contact_form
{
    background-color: #FFF4E8;
}

.form_name
{
    text-align: center;
    padding: 2%;
    background-color: #E38B29;
    color: #fff;
}
.form-group
{
    margin-bottom: 0;
}

.float-container {
    padding: 0;
    height: 60px;
    padding: 0%;
}

.float-child-1 {
    padding-left: 200px;
    height: 50px;
    width: 40%;
    float: left;
    text-align: left;
    padding: 2;
}  
.float-child-2 {
    height: 50px;
    width: 60%;
    text-align: left;
    float: left;
    padding: 2;
}  

.column1
{
  margin-left: 25%;
  margin-right: 25%;
  /* width: 50%; */
}

.control-label
{
    background-color: transparent;
    padding: 2%;
    max-width:fit-content;
}
.para
{
    font-size: 1rem;
    line-height: 1.5;
}
.inputGroupContainer
{
    background-color: transparent;
    font-size: 1rem;
    height: 50px;
}

.sbutton
{
    align-content: center;
    max-width: 20%;
    padding: 0px;
    padding-left: 45%;
    padding-right: 55%;
    padding-bottom: 5%;
}
.submit_button
{
    text-align: center;
    align-items: center;
    padding: 10px;
    align-self: center;
    width: 100px;
    padding-left: 42%;
    padding-right: 42%;
}




/* footer */

#footer
{
    text-align: center;
    background-color: #fff;
}
.container-fluid-1
{
    padding: 2% 5% 2%;
}

.social-icon 
{
    margin: 20px 10px;
}

#success_message{ display: none;}







.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
  }
  
  .tooltip-text::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    background-color: #192733;
    padding: 5px;
    z-index: 1;
  }
  
  .hover-text:hover .tooltip-text {
    visibility: visible;
  }
  
  #top {
    top: -40px;
    left: -50%;
  }
  
  #top::before {
    top: 80%;
    left: 45%;
  }
  
  #bottom {
    top: 25px;
    left: -50%;
  }
  
  #bottom::before {
    top: -5%;
    left: 45%;
  }
  
  #left {
    top: -8px;
    right: 120%;
  }
  
  #left::before {
    top: 35%;
    left: 94%;
  }
  
  #right {
    top: -8px;
    left: 120%;
  }
  
  #right::before {
    top: 35%;
    left: -2%;
  }
  
  .hover-text {
    position: relative;
    display: inline-block;
    margin: 40px;
    font-family: Avenir;
    text-align: center;
  }
  
  